.clear {
  clear: both;
}

.content input {
  width: 15px;
}

.spans {
  color: rgb(174, 46, 46);
  font-size: 12px;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #303030;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #303030;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type="checkbox"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}

form {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  max-width: 800px;

  background-color: #303030;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  left: 230px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra sutil */
}

.button_env {
  margin-top: 2rem;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.newContenedor {
  display: flex;
  margin-top: 30px;
}
.izq {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.der {
  flex-basis: 50%;
  margin-top: 1rem;
}

.izq label {
  color: rgb(228, 213, 213);
  margin-bottom: 2px;
  font-size: 16px;
  margin-bottom: 5px;
}
.der label {
  color: rgb(228, 213, 213);
  font-size: 16px;
  margin-bottom: 5px;
}

.span {
  color: rgb(228, 213, 213);
  font-size: medium;
}

.izq input {
  width: 300px; /* Hace que todos los inputs tengan el mismo ancho */
  padding: 8px;
  border: 2px solid #555; /* Agrega un borde */
  border-radius: 5px;
  background-color: #111; /* Color de fondo oscuro */
  color: #fff; /* Color del texto */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Agrega una sombra sutil */
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content .span {
  flex-basis: 30%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.content .span label {
  margin-right: 5px;
}
.rtg {
  width: 300px; /* Hace que todos los inputs tengan el mismo ancho */
  padding: 8px;
  border: 2px solid #555; /* Agrega un borde */
  border-radius: 5px;
  background-color: #111; /* Color de fondo oscuro */
  color: #fff; /* Color del texto */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Agrega una sombra sutil */
}
.gnr label {
  font-size: 20px;
  margin-left: -20px;
}
.rtg span {
  color: rgb(219, 201, 60);
}
.title {
  position: absolute;
  top: -20px;
  left: 40%;
  font-size: 30px;
  color: rgb(215, 206, 195);
}
