.nav {
  position: fixed; /* Agregamos position: fixed para que ocupe todo el ancho */
  top: 0;
  left: 0;
  width: 100%;
  height: 58px;
  background-color: rgb(11, 11, 11);
  border-bottom: 2px solid rgb(14, 14, 14);
  display: flex;
  transition: border-bottom 2s;
  z-index: 999; /* Agregamos z-index para que esté por encima de otros elementos */
}

.sidebar {
  grid-area: side;
  background-color: rgb(13, 13, 13);
  margin-left: 0;
  position: fixed; /* Agregamos position: fixed para que se posicione en el lado izquierdo */
  top: 58px; /* Ajustamos el top para que no se superponga con el navbar */
  bottom: 0; /* Ajustamos el bottom para que ocupe todo el espacio vertical */
  width: 300px; /* Establecemos un ancho fijo para el sidebar */
  z-index: 998; /* Aseguramos que esté debajo del navbar pero por encima del contenido */
}

.grid__container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 58px; /* Ajustamos la altura para que coincida con el navbar */
  grid-template-areas: "nav nav" "side cards"; /* Actualizamos el grid-template-areas */
}

.cards {
  grid-area: cards;
  margin-left: 300px; /* Agregamos un margen izquierdo para que no se superponga con el sidebar */
}

.h4_select {
  --btn-default-bg: rgb(19, 19, 19);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(19, 19, 19);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 2s; /* Increase the animation duration */
  --btn-shadow-color: rgb(19, 19, 19);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #fac921;
  --default-btn-color: #fff;
  --font-size: 16px;
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
}

.h4_select {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  margin-top: 0%;
  margin-bottom: 0%;
}

.h4_select span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.h4_select span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.h4_select:hover,
.h4_select:focus {
  background: var(--btn-hover-bg);
}

.h4_select:hover span,
.h4_select:focus span {
  color: var(--hover-btn-color);
}

.h4_select:hover span::before,
.h4_select:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!-*";
  }

  20% {
    content: "#$_+-/*";
  }

  25% {
    content: "№:0%$#%#$%&/";
  }

  30% {
    content: "#{+.!#$#()(=?*";}35%{content: "@}&%!!(=-?";
  }

  40% {
    content: "?{4@%#$%+-&%";
  }

  45% {
    content: "=.,^$%-+°°";
  }

  50% {
    content: "?2@%°22$#";
  }

  55% {
    content: "#$5\;1$#%";
  }

  60% {
    content: "?{%:%&(-+";
    right: 0;
  }

  65% {
    content: "|{f[4(!°¬";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<>";
    right: 0;
  }

  80% {
    content: "{0%#$";
    right: 0;
  }

  85% {
    content: "]>/";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

select {
  /* Estilos generales del select */
  font-size: 16px;
  color: #ccc;
  padding: 10px;
  border: 2px solid #cccccc00;
  width: 300px;
  background-color: rgb(24, 24, 24);
  cursor: pointer;
}

select:focus {
  /* Estilos cuando el select tiene foco */
  outline: none;
}

select option {
  /* Estilos de las opciones dentro del select */
  background-color: #2c2c2c;
  color: #f6f6f6;
}

select option:hover {
  /* Estilos de las opciones cuando se les pasa el cursor por encima */
  background-color: #ffffff;
  color: #0a0a0a;
}

.selectors {
  margin-top: 0%;
}
