.fondo {
  position: fixed; /* Establece el posicionamiento fijo */
  top: 0; /* Coloca el elemento en la parte superior */
  left: 0; /* Coloca el elemento en la parte izquierda */
  height: 100vh; /* Establece la altura al 100% de la ventana */
  width: 100vw; /* Establece el ancho al 100% de la ventana */
  background-image: url("../../img/GamerRoom.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
